# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.*

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Trained models and serialized objects
*.pkl
*.joblib

# Temporary files
*.tmp
*.temp

# Processed datasets
data/interim/*
data/processed/*

# Keep empty directories
!data/interim/.gitkeep
!data/processed/.gitkeep

data/raw/loan_data_2007_2014.csv
